<div class="instructor-comment-wrap">
<% board_comments.each do |board_comment| %>
  <div class="instructor-comment">
    <div class="clearfix">
      <div class="avatar">
        <%#= attachment_image_tag board_comment.profile_image, :profile_image, fallback: "no_image.jpg" %>
      </div>
      <div class="name">
        <%= board_comment.name %>
      </div>
      <%= board_comment.created_at.strftime('%Y/%m/%d') %><%= board_comment.comment %>
    </div>
  </div>
<% end %>
</div>