<div class="contents">
<div class="frend-box-wrap sub-header-mergin">
  <% @instructors.each do |instructor| %>
        <div class="frend-box">
    <a class="cover-link" href="/frends/4149">フレンドページへ</a>
    <img class="frend-avatar">
      <%= attachment_image_tag instructor, :profile_image, fallback: "no_image.jpg" %>
    </img>
    <!--<img class="frend-avatar" src="https://frenta.s3-ap-northeast-1.amazonaws.com/uploads/user/avatar/4149/890B8589-8DA2-435A-A4C6-A3CF9D166C2D.jpeg" alt="890b8589 8da2 435a a4c6 a3cf9d166c2d">-->
    <p class="ranking-box "><span class="ranking-index">1<span class="th">th</span></span></p>
    <p class="user-name"><%= instructor.name %>
      <span class="favorite-cnt">
        <span class="frendbox_favorite_btn inlink"><i class="not-favorite-icon far fa-heart"><span class="display-none">お気に入りに追加<span></span></span></i></span>
        <!-- <i class="not-favorite-icon far fa-heart">
          <span class="display-none">お気に入りに追加<span>
        </i> -->
      </span>
    </p>
    <div class="frend-info">
      <p><i class="far fa-user"></i><%= instructor.age %>歳</p>
    </div>
    <p class="frend-msg">皆さんのお時間を少しでも素敵なものにできれば嬉しいです。
いつでもお気軽にお声掛けください✨</p>
  </div>
  <% end %>

   <p class="pagination">  </p><nav class="pagination">
    
        <span class="page current">
  1
</span>

        <span class="page">
  <a rel="next" href="/frends?page=2">2</a>
</span>

        <span class="page">
  <a href="/frends?page=3">3</a>
</span>

        <span class="page gap">...</span>

    <span class="last">
  <a href="/frends?page=5">»</a>
</span>

  </nav>
<p></p>
</div>




<script>
// フォームクリア処理
$(document).ready(function(){
  $(".clear_form").on("click", function(){
    $(this.form).find("input, select, textarea").not(":button, :submit, :reset, :hidden")
            .val("")
            .prop("checked", false)
            .prop("selected", false)
  });
});
</script>

  </div>