<div class="subtitle-wrap">
  <h2 class="subtitle"><span class="talk-room-link"><i class="icon far fa-comment"></i>トークルーム</span></h2>
</div>

<div class="contents">
<div class="talk-room-list sub-header-mergin">
      <a href="/talkrooms/3707">
        <div class="talk-user clearfix">
          <p class="avatar" style="background-image: url(https://frenta.s3.ap-northeast-1.amazonaws.com/uploads-v2/user/avatar/6340/user6340_avatar.png) "></p>
          <div class="latest-msg-box">
            <p class="talk-user-name">めい</p>
            <p class="latest-msg"></p>
          </div>
          <p class="msg-date">3月7日</p>
        </div>
</a>
</div>

<div class="fix-menu-bar-sp menu-bar">
  <ul class="menu-bar-list">
    <li><a href="/home/guide"><i class="fas fa-book-open"></i><br>使い方</a></li>
    <li><a href="/frends"><i class="fas fa-search"></i><br>探す</a></li>
    <li><a href="/talkrooms"><i class="far fa-comments"></i><br>トーク</a></li>
    <li><a href="/favorites"><i class="far fa-heart"></i><br>お気に入り</a></li>
    <li><a href="/bulletin_boards"><i class="far fa-window-restore"></i><br>掲示板</a></li>
  </ul>
</div>
</div>