<body data-controller="bulletin_boards" data-action="index">
  <noscript>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MKJ6PRS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

  
 
    <div class="subtitle-wrap bulletin-board-title-wrap">
    <div class="subtitle clearfix">
      <h2 class="bulletin-board-title">
        <i class="icon far fa-window-restore"></i>依頼掲示板
      </h2>
        <a class="post-btn" href="/bulletin_boards/new"><i class="icon far fa-comment-alt"></i>投稿してみる</a>
    </div>

  </div>

  </div>


  <div class="contents">
    <script type="text/javascript">
    </script>

      


<div class="bulletin-board-wrap">
        <div class="bulletin-board">
      <div class="info-wrap clearfix">
        <span class="right-now">今すぐ</span>
        <div class="info">
          <p><i class="icon fas fa-map-marker-alt"></i>神奈川県</p>
          <p><i class="icon far fa-comment-alt"></i>1</p>
        </div>
      </div>

      <p class="title">コンビニ決済</p>
      <p class="content">明日ファミリーマート、ローソン、セブンイレブンいずれかのコンビニで振込しなくてはいけない用事があり、その操作について詳しい人いましたら一緒コンビニ行って教えて下さい。

30分あればできるかと思うので待ち合わせ場所は横浜で11時くらいでお願いしたいです</p>

      <div class="user">
        <p class="avatar" style="background-image: url(/assets/avatar_default-2341dd6cfd79c270be95e3c853249f39db36e89de2f8d496b640372c70e1c3a0.png) "></p>
        <p class="name">奈々</p>
      </div>

      <p class="datetime">2021年2月9日 16時19分</p>
      <a class="to-ansawor" href="/bulletin_boards/830"><span>回答へ</span></a>
    </div>    <div class="bulletin-board">
      <div class="info-wrap clearfix">
        <span class="right-now">今すぐ</span>
        <div class="info">
          <p><i class="icon fas fa-map-marker-alt"></i>神奈川県</p>
          <p><i class="icon far fa-comment-alt"></i>1</p>
        </div>
      </div>

     
      <div class="user">
        <p class="avatar" style="background-image: url(/assets/avatar_default-2341dd6cfd79c270be95e3c853249f39db36e89de2f8d496b640372c70e1c3a0.png) "></p>
        <p class="name">奈々</p>
      </div>

      <p class="datetime">2021年1月14日 15時32分</p>
      <a class="to-ansawor" href="/bulletin_boards/782"><span>回答へ</span></a>
    </div>
</div>

<p class="pagination">  </p><nav class="pagination">
    
        <span class="page current">
  1
</span>

        <span class="page">
  <a rel="next" href="/bulletin_boards?page=2">2</a>
</span>

        <span class="page">
  <a href="/bulletin_boards?page=3">3</a>
</span>

        <span class="page gap">...</span>

    <span class="last">
  <a href="/bulletin_boards?page=28">»</a>
</span>

  </nav>
<p></p>
<div class="fix-menu-bar-sp menu-bar">
  <ul class="menu-bar-list">
    <li><a href="/home/guide"><i class="fas fa-book-open"></i><br>使い方</a></li>
    <li><a href="/frends"><i class="fas fa-search"></i><br>探す</a></li>
    <li><a href="/talkrooms"><i class="far fa-comments"></i><br>トーク</a></li>
    <li><a href="/favorites"><i class="far fa-heart"></i><br>お気に入り</a></li>
    <li><a href="/bulletin_boards"><i class="far fa-window-restore"></i><br>掲示板</a></li>
  </ul>
</div>
