<div class="row col-xs-12 center-block">
  <h1>ご予約ありがとうございます！</h1><br>
  <div class="col-xs-7">
    <%= link_to "　トップページに戻る　", root_path, class: "glyphicon glyphicon-folder-open btn btn-info pull-right" %>
  </div>
</div>
