<div class="frenta-about-firstview">
    <picture>
      <source media="(max-width: 540px)" srcset="/assets/frenta_about_w420_x1-0e34e326ae06f8faca85ced8ec2d8a5fb219f8115f736e8e87ad2e021a82f422.png 1x,/assets/frenta_about_w420_x2-66a57127a3073b883e1645944816d4374fd9f6a83bf09d3e4fc1874bea3d7c7e.png 2x">
      <source media="(max-width: 768px)" srcset="/assets/frenta_about_w768_x1-60c8cfe90f07884ed66540c6cf4559a7d67dc52c6da71450a3b8e7fdc23c3464.png 1x,/assets/frenta_about_w768_x2-4e0efbc51a77ee038e9793afd3aff5b0a55f959f35852baa13827edb3218ef8f.png 2x">
      <img alt="" srcset="/assets/frenta_about_w768_x1-60c8cfe90f07884ed66540c6cf4559a7d67dc52c6da71450a3b8e7fdc23c3464.png 1x,/assets/frenta_about_w768_x2-4e0efbc51a77ee038e9793afd3aff5b0a55f959f35852baa13827edb3218ef8f.png 2x" src="/assets/frenta_about_w768_x1-60c8cfe90f07884ed66540c6cf4559a7d67dc52c6da71450a3b8e7fdc23c3464.png">
    </picture>
</div>

<div class="contents">
    <script type="text/javascript">
    </script>
<div class="frenta-about-wrap">
  <!-- Question1 -->
  <div class="frenta-about-box">
    <div class="question-box-wrap">
      <div class="question-box">
        <div class="question-1"></div>
        <p class="question-msg-1">フレンタってどんなサービスなの？</p>
      </div>
    </div>
    <div class="answer-box-wrap">
      <div class="answer-box">
        <div class="frenta_admin"></div>
        <p class="answer-msg">フレンタは自分の好きな時に好きな人をフレンドとして気軽にレンタルできるサービスです。寂しいとき、相談したいとき、一緒に遊びたいとき、人出が必要なとき、様々な時にご利用いただけます。</p>
      </div>
    </div>
  </div>
  <!-- Question2 -->
  <div class="frenta-about-box">
    <div class="question-box-wrap">
      <div class="question-box">
        <div class="question-2"></div>
        <p class="question-msg-2">料金って高いんじゃないの？<br>料金システムは？</p>
      </div>
    </div>
    <div class="answer-box-wrap">
      <div class="answer-box">
        <div class="frenta_admin"></div>
        <p class="answer-msg">いいえ、リーズナブルな価格のフレンドもたくさんいます！また、初回料金を安くしてくれるフレンドもいるので、気になるフレンドが見つかったら、メッセージで連絡をとってみてください！<br>
        料金は<strong class="color-red">交通費+指名料金</strong>になります。また、お出かけ等にかかる費用はフレンドの分も含めてお客様のご負担となります。</p>
      </div>
    </div>
  </div>
  <!-- Question3 -->
  <div class="frenta-about-box">
    <div class="question-box-wrap">
      <div class="question-box">
        <div class="question-3"></div>
        <p class="question-msg-3">初めて利用するので<br>どんな人がくるのか不安。</p>
      </div>
    </div>
    <div class="answer-box-wrap">
      <div class="answer-box">
        <div class="frenta_admin"></div>
        <p class="answer-msg">フレンタでは、<strong class="color-red">無料で自分の納得いくまでメッセージすることが可能</strong>なので、信頼できると思った相手のみに依頼することが可能です。サイト内のメッセージ機能で、「自分がしたいことができるか？」「相手は優しい人柄か？」などを確かめて、自分の納得いくレンタルをしましょう！</p>
      </div>
    </div>
  </div>
  <!-- Question4 -->
  <div class="frenta-about-box">
    <div class="question-box-wrap">
      <div class="question-box">
        <div class="question-4"></div>
        <p class="question-msg-4">どんな依頼が対応可能ですか？</p>
      </div>
    </div>
    <div class="answer-box-wrap">
      <div class="answer-box">
        <div class="frenta_admin"></div>
        <p class="answer-msg">飲みに付き合ってもらったり、普段は入りにくいお店に付き合ってもらったり、ただただ愚痴を聞いてもらったり、一緒にどこかに遊びに行ったり、様々な依頼が可能です。「これはちょっと無理かな...？」と思うような依頼でも意外と受けてもらえるので、是非お気軽にトークもしくは依頼掲示板から依頼内容を教えてください！<br>ただし、フレンタでは異性交友を目的としたレンタル、および性的な行為を目的とするレンタルは禁止していますのでご留意ください。</p>
      </div>
    </div>
  </div>
  <!-- Question5 -->
  <div class="frenta-about-box">
    <div class="question-box-wrap">
      <div class="question-box">
        <div class="question-5"></div>
        <p class="question-msg-5">最近モヤモヤすることがあって、<br>愚痴もかねて大人な人に相談したい。</p>
      </div>
    </div>
    <div class="answer-box-wrap">
      <div class="answer-box">
        <div class="frenta_admin"></div>
        <p class="answer-msg">フレンタには人生経験豊富な大人も多数在籍しています。まずは、気軽にメッセージで話してみましょう！</p>
      </div>
    </div>
  </div>
</div>

<a class="large-btn color-red" href="/home/guide">ご利用ガイドへ</a>

<div class="fix-menu-bar-sp menu-bar">
  <ul class="menu-bar-list">
    <li><a href="/home/guide"><i class="fas fa-book-open"></i><br>使い方</a></li>
    <li><a href="/frends"><i class="fas fa-search"></i><br>探す</a></li>
    <li><a href="/talkrooms"><i class="far fa-comments"></i><br>トーク</a></li>
    <li><a href="/favorites"><i class="far fa-heart"></i><br>お気に入り</a></li>
    <li><a href="/bulletin_boards"><i class="far fa-window-restore"></i><br>掲示板</a></li>
  </ul>
</div>

</div>
