<div class="container">
    <div class="row">
        <div class="col-xs-12"></div>
    </div>
    <div class="row">
        <div class="col-xs-6">
          <div class="question-box">
            <div class="question-1"></div>
            <p class="question-msg-1">モテトークってどんなサービスなの？</p>
          </div>
        </div>
        <div class="answer-box col-xs-6">
          <div class="frenta_admin"></div>
          <p class="answer-msg">モテトークは恋愛トーク向上サイトです。実際に経験豊富な女性講師とZOOMにてトークしてもらいます。その後女性講師側からフィードバックをもらい今後の恋愛に役立てることができます。</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
          
        </div>
        <div class="col-xs-6">
          
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
          
        </div>
        <div class="col-xs-6">
          
        </div>
    </div>
</div>


<div class="contents">
    <script type="text/javascript">
    </script>
<div class="mote-about-wrap">
  <!-- Question1 -->
  <div class="mote-about-box">
    <div class="question-box-wrap">
      <div class="question-box">
        <div class="question-1"></div>
        <p class="question-msg-1">モテトークってどんなサービスなの？</p>
      </div>
    </div>
    <div class="answer-box-wrap">
      <div class="answer-box">
        <div class="mote_admin"></div>
        <p class="answer-msg">モテトークは恋愛トーク向上サイトです。実際に経験豊富な女性講師とZOOMにてトークしてもらいます。
        その後女性講師側からフィードバックをもらい今後の恋愛に役立てることができます。
        </p>
      </div>
    </div>
  </div>
  <!-- Question2 -->
  <div class="mote-about-box">
    <div class="question-box-wrap">
      <div class="question-box">
        <div class="question-2"></div>
        <p class="question-msg-2">初めて利用するので<br>どんな人がくるのか不安。</p>
      </div>
    </div>
    <div class="answer-box-wrap">
      <div class="answer-box">
        <div class="mote_admin"></div>
        <p class="answer-msg">モテトークでは、<strong class="color-red">自分の納得いくまで講師とメッセージすることが可能</strong>なので、信頼できると思った講師のみに依頼することが可能です。サイト内のメッセージ機能で、「自分がしたいことができるか？」「相手は優しい人柄か？」などを確かめて、自分の納得いく方とトークをしましょう！</p>
      </div>
    </div>
  </div>
  <div class="mote-about-box">
    <div class="question-box-wrap">
      <div class="question-box">
        <div class="question-3"></div>
        <p class="question-msg-3">どんな依頼が対応可能ですか？</p>
      </div>
    </div>
    <div class="answer-box-wrap">
      <div class="answer-box">
        <div class="mote_admin"></div>
        <p class="answer-msg">実際に話をしてフィードバックをもらうのはもちろんの事、依頼掲示板からお客様の恋愛のお悩みを投稿することにより、そのお悩みに対する相談もすることができます。<br></p>
      </div>
    </div>
  </div>

</div>

<a class="large-btn color-red" href="/">トップページへ</a>

<div class="fix-menu-bar-sp menu-bar">
  <ul class="menu-bar-list">
    <li><a href="/home/guide"><i class="fas fa-book-open"></i><br>使い方</a></li>
    <li><a href="/frends"><i class="fas fa-search"></i><br>探す</a></li>
    <li><a href="/talkrooms"><i class="far fa-comments"></i><br>トーク</a></li>
    <li><a href="/favorites"><i class="far fa-heart"></i><br>お気に入り</a></li>
    <li><a href="/bulletin_boards"><i class="far fa-window-restore"></i><br>掲示板</a></li>
  </ul>
</div>

</div>
