 <div class="container">
    <div class="row">
        <div class="col-xs-12">
          <h1>モテトークってどんなサービスなの？</h1>
        </div>
    </div>
    <div class="row mote-about-box">
      <div class="question-box-wrap col-md-6">
        <div class="question-box">
          <div class="question-1"></div>
          <p class="question-msg-1">モテトークってどんなサービスなの？</p>
        </div>
      </div>
      <div class="answer-box-wrap col-md-6">
        <div class="frenta_admin"></div>
        <p class="answer-msg">モテトークは恋愛トーク向上サイトです。実際に経験豊富な女性講師とZOOMにてトークしてもらいます。その後女性講師側からフィードバックをもらい今後の恋愛に役立てることができます。</p>
      </div>
    </div>
    <div class="row mote-about-box">
      <div class="question-box-wrap col-md-6">
        <div class="question-box">
          <div class="question-2"></div>
          <p class="question-msg-2">初めて利用するので<br>どんな人がくるのか不安。</p>
        </div>
      </div>
      <div class="answer-box-wrap col-md-6">
        <div class="frenta_admin"></div>
        <p class="answer-msg">モテトークでは、<strong class="color-red">自分の納得いくまで講師とメッセージすることが可能</strong>なので、信頼できると思った講師のみに依頼することが可能です。サイト内のメッセージ機能で、「自分がしたいことができるか？」「相手は優しい人柄か？」などを確かめて、自分の納得いく方とトークをしましょう！</p>
      </div>
    </div>
    <div class="row mote-about-box">
      <div class="question-box-wrap col-md-6">
        <div class="question-box">
          <div class="question-3"></div>
          <p class="question-msg-3">どんな依頼が対応可能ですか？</p>
        </div>
      </div>
      <div class="answer-box-wrap col-md-6">
        <div class="frenta_admin"></div>
        <p class="answer-msg">実際に話をしてフィードバックをもらうのはもちろんの事、依頼掲示板からお客様の恋愛のお悩みを投稿することにより、そのお悩みに対する相談もすることができます。</p>
      </div>
    </div>
 </div>
