
<section class="top-image-wrap">
    <div class="top-image">
        <p><span class="main-msg top">女性の「ホンネ」</span><span class="main-msg bottom">聞いてみませんか。</span></p>
        <picture>
          <img src="/assets/image1.jpg">
        </picture>
    </div>
</section>

<section class="about-mote">
    <p class="about-mote-text"><img src="/assets/icon3.png"></p>
    <p class="about-mote-img"><img alt="おじさんレンタルや友達レンタル(レンタルフレンド)、おばさんレンタルなど様々なレンタルに対応しています" src="/assets/sodan.png"></p>
</section>

<div class="contents">
    <script type="text/javascript"></script>

  <section class="mote-feature-wrap">
    <h2 class="title"><img src="" alt="フレンタの特徴"></h2>
    <div id="feature-box-wrap" class="box-wrap">
      <div class="box-inner-wrap">
        <div class="box one">
          <div class="sub-title-wrap">
            <div class="sub-title-inner-wrap">
              <span class="step-label"></span>
              <h2 class="sub-title"><img src="" alt="自分に合わせて色々なレンタルが出来る！"></h2>
            </div>
          </div>
          <p class="feature-img"><img alt="おじさんレンタルや友達レンタル(レンタルフレンド)、おばさんレンタルなど様々なレンタルに対応しています" src="/assets/"></p>
          <p class="comment">フレンタでは用途に合わせて、様々なレンタルが可能です。レンタル料金は500円/1h～とちょっとしたお願いもしやすいリーズナブルな価格となっています。</p>
        </div>
        <div class="box two">
          <div class="sub-title-wrap">
            <div class="sub-title-inner-wrap">
              <span class="step-label"></span>
              <h2 class="sub-title"><img src="" alt="好きなだけメッセージができる！"></h2>
            </div>
          </div>
          <p class="feature-img"><img alt="おじさんレンタルや友達レンタル(レンタルフレンド)、おばさんレンタルなど様々なレンタルに対応しています" src=""></p>
          <p class="comment">フレンタでは複数の相手とメッセージをして、自分に合った相手を見つけてからレンタルすることが可能です。</p>
        </div>
        <div class="box three">
          <div class="sub-title-wrap">
            <div class="sub-title-inner-wrap">
              <span class="step-label"></span>
              <h2 class="sub-title"><img src="" alt="自分に合わせて色々なレンタルが出来る！"></h2>
            </div>
          </div>
          <p class="feature-img"><img alt="おじさんレンタルや友達レンタル(レンタルフレンド)、おばさんレンタルなど様々なレンタルに対応しています" src=""></p>
          <p class="comment">「ドタキャンされたので、今日会える人を探したい。」急な依頼にもフレンタは対応しています。掲示板に依頼を投稿すると今日会えるフレンドが見つかります。</p>
        </div>
        <div class="box four">
          <div class="sub-title-wrap">
            <div class="sub-title-inner-wrap">
              <span class="step-label"></span>
              <h2 class="sub-title"><img src="/assets/feature_subtitle_4-2f0ae7691b26203fc7b5867d58b1f5cf228dd188a3403e5a36043672b18d9e84.png" alt="自分に合わせて色々なレンタルが出来る！"></h2>
            </div>
          </div>
          <p class="feature-img"><img alt="おじさんレンタルや友達レンタル(レンタルフレンド)、おばさんレンタルなど様々なレンタルに対応しています" src="/assets/mote_about4-9f1f28ff8347571955022d83e31e5bf421db06727ae98f8f6bf228a6290c713d.png"></p>
          <p class="comment">外出が難しい時、遠距離で実際に会うことができない時も、サイト内で料金をお支払い頂き、電話レンタル、zoomレンタルをすることが出来ます。</p>
        </div>
      </div>
      <div id="swiper-button-prev" class="swiper-button left"><i class="fas fa-chevron-left"></i></div>
      <div id="swiper-button-next" class="swiper-button right"><i class="fas fa-chevron-right"></i></div>
    </div>
    <a class="large-btn color-red mt20" href="/home/about">もっとみる</a>
  </section>
</div>

<div class="fix-menu-bar-sp menu-bar">
  <ul class="menu-bar-list">
    <li><a href="/home/guide"><i class="fas fa-book-open"></i><br>使い方</a></li>
    <li><a href="/frends"><i class="fas fa-search"></i><br>探す</a></li>
    <li><a href="/talkrooms"><i class="far fa-comments"></i><br>トーク</a></li>
    <li><a href="/favorites"><i class="far fa-heart"></i><br>お気に入り</a></li>
    <li><a href="/bulletin_boards"><i class="far fa-window-restore"></i><br>掲示板</a></li>
  </ul>
</div>
</div>

