
  <%= image_tag asset_path("top-media.png"), class: "img-fluid", style: "margin-top: 55px"%>
  <nav class="navbar navbar-expand-md text-white" style="background-color: #d468ae;">
    <div class="lh-1">
      <h1 class="h2 mb-0 lh-1 d-flex align-items-center justify-content-center">モテトークは恋愛トーク向上を目的とした<br>受講生と恋愛コンサルタントを結び付けるマッチングサイトです。</h1>
    </div>
  </nav>
<main class="container">
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>見出し</h2>
        <p>掌の上で少し落ちついて書生の顔を見たのがいわゆる人間というものの見始であろう。この時妙なものだと思った感じが今でも残っている。第一毛をもって装飾されべきはずの顔がつるつるしてまるで薬缶だ。</p>
        <p><a class="btn btn-secondary" href="#" role="button">詳しく見る »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
        
        <h2>見出し</h2>
        <p>その後猫にもだいぶ逢ったがこんな片輪には一度も出会わした事がない。のみならず顔の真中があまりに突起している。そうしてその穴の中から時々ぷうぷうと煙を吹く。</p>
        <p><a class="btn btn-secondary" href="#" role="button">詳しく見る »</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

        <h2>見出し</h2>
        <p>吾輩は猫である。名前はまだ無い。どこで生れたかとんと見当がつかぬ。何でも薄暗いじめじめした所でニャーニャー泣いていた事だけは記憶している。吾輩はここで始めて人間というものを見た。しかもあとで聞くとそれは書生という人間中で一番獰悪な種族であったそうだ。</p>
        <p><a class="btn btn-secondary" href="#" role="button">詳しく見る »</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm" style="background-color: #d468ae;">
      <div class="lh-1">
        <h1 class="h2 mb-0 lh-1">モテトークの特徴</h1>
      </div>
    </div>

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">自分の恋愛トーク能力がわかる！</h2>
        <p class="lead">経験豊富な女性講師からフィードバックを貰うことにより、自分自身で気づかなかった恋愛トークの改善点に気づくことができます。</p>
      </div>
      <div class="col-md-5">
        <%= image_tag asset_path("Remote_call.png"), class: 'featurette-image img-fluid mx-auto', size: '500x500' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">女性講師とのミスマッチを防ぐ</h2>
        <p class="lead">女性講師それぞれに自己紹介や受講生へのメッセージを掲載しております。そこを確認してから女性講師に依頼することが出来るのでミスマッチを防ぐことができます</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag asset_path("profile.png"), class: 'featurette-image img-fluid mx-auto', size: '500x500' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">依頼掲示板から恋愛の悩みを投稿できる</h2>
        <p class="lead">依頼掲示板から恋愛におけるお悩みを相談することによって、そのお悩みに対しご対応できる女性講師がコメントします。。</p>
      </div>
      <div class="col-md-5">
        <%= image_tag asset_path("boards.png"), class: 'featurette-image img-fluid mx-auto', size: '500x500' %>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>