
<section class="top-image-wrap">
    <div class="top-image">
        <p><span class="main-msg top">女性の「ホンネ」</span><span class="main-msg bottom">聞いてみませんか。</span></p>
        <picture>
          <img src="/assets/image1.jpg">
        </picture>
    </div>
</section>

<section class="about-mote">
    <p class="about-mote-text"><img src="/assets/icon3.png">は<br>恋愛トーク向上サイトです。</p>
    <p class="about-mote-img"><img src="/assets/sodan.png"></p>
</section>

<div class="contents">

  <section class="mote-feature-wrap">
    <h2 class="title"><img src="/assets/logo4.png"></h2>
    <p class="border-line"></p>
    <div id="feature-box-wrap" class="box-wrap">
      <div class="box-inner-wrap">
        <div class="box one">
          <div class="sub-title-wrap">
            <div class="sub-title-inner-wrap">
              <span class="step-label"></span>
              <h2 class="sub-title">自分の恋愛トーク能力がわかる！</h2>
            </div>
          </div>
          <p class="feature-img"><img  src="/assets/school.png"></p>
          <p class="comment">経験豊富な女性講師からフィードバックを貰うことにより、
            自分自身で気づかなかった恋愛トークの改善点に気づくことができます。
          </p>
        </div>
        <div class="box two">
          <div class="sub-title-wrap">
            <div class="sub-title-inner-wrap">
              <span class="step-label"></span>
              <h2 class="sub-title">女性講師とのミスマッチを防ぐ</h2>
            </div>
          </div>
          <p class="feature-img"><img src="/assets/sodan.png"></p>
          <p class="comment">女性講師それぞれに自己紹介や受講生へのメッセージを掲載しております。そこを確認してから女性講師に依頼することが出来るのでミスマッチを防ぐことができます。</p>
        </div>
        <div class="box three">
          <div class="sub-title-wrap">
            <div class="sub-title-inner-wrap">
              <span class="step-label"></span>
              <h2 class="sub-title">依頼掲示板から恋愛の悩みを投稿できる</h2>
            </div>
          </div>
          <p class="feature-img"><img  src="/assets/e-learning.png"></p>
          <p class="comment">依頼掲示板から恋愛におけるお悩みを相談することによって、そのお悩みに対しご対応できる女性講師がコメントします。</p>
        </div>
      <!--<div id="swiper-button-prev" class="swiper-button left"><i class="fas fa-chevron-left"></i></div>-->
      <!--<div id="swiper-button-next" class="swiper-button right"><i class="fas fa-chevron-right"></i></div>-->
    </div>
  </section>
</div>
