<div class="container-fluid">
  <div class="row">
      <div class="container">
        <div class="top-image">
          <p>
            <span class="main-msg top">女性の「ホンネ」</span>
            <span class="main-msg bottom">聞いてみませんか。</span>
          </p>
        </div>
      </div>


      <!--<section class="top-image-wrap">-->
      <!--  <div class="top-image">-->
      <!--      <p>-->
      <!--        <span class="main-msg top">女性のホンネ</span>-->
      <!--        <span class="main-msg bottom">聞いてみませんか？</span>-->
      <!--      </p>-->
      <!--   <img src="/assets/image1.jpg" class="img-fulied">-->
      <!--  </div>-->
      <!--</section>-->

      <div class="container py-4" id="works">
        <h2>Works</h2>
        <p>This is sample description.This is sample description.This is sample description.This is sample description.This is sample description.This is sample description.</p>
        <div class="card-deck">
            <div class="card">
              <img src="img/sample4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Work1</h5>
                <p class="card-text">This is sample description.This is sample description.This is sample description.This is sample description.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="img/sample4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Work2</h5>
                <p class="card-text">This is sample description.This is sample description.This is sample description.This is sample description.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card">
              <img src="img/sample4.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Work3</h5>
                <p class="card-text">This is sample description.This is sample description.This is sample description.This is sample description.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
        </div>
    </div>

  </div>
</div>