
  <%= image_tag asset_path("top-media.png"), class: "img-fluid", style: "margin-top: 55px"%>
  <nav class="navbar navbar-expand-md text-white" style="background-color: #d468ae;">
    <div class="h2 mb-0 lh-1 d-flex align-items-center justify-content-center">
      モテトークは恋愛トーク向上を目的とした<br>受講生と恋愛コンサルタントを結び付けるマッチングサイトです。
    </div>
  </nav>
<main class="container">
  <div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm" style="background-color: #d468ae;">
    <div class="lh-1">
      <h1 class="h2 mb-0 lh-1">モテトークの特徴</h1>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">自分の恋愛トーク能力がわかる！</h2>
      <p class="lead">経験豊富な女性講師からフィードバックを貰うことにより、自分自身で気づかなかった恋愛トークの改善点に気づくことができます。</p>
    </div>
    <div class="col-md-5">
      <%= image_tag asset_path("Remote_call.png"), class: 'featurette-image img-fluid mx-auto', size: '500x500' %>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">女性講師とのミスマッチを防ぐ</h2>
      <p class="lead">女性講師それぞれに自己紹介や受講生へのメッセージを掲載しております。そこを確認してから女性講師に依頼することが出来るのでミスマッチを防ぐことができます</p>
    </div>
    <div class="col-md-5 order-md-1">
      <%= image_tag asset_path("profile.png"), class: 'featurette-image img-fluid mx-auto', size: '500x500' %>
    </div>
  </div>

  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">依頼掲示板から恋愛の悩みを投稿できる</h2>
      <p class="lead">依頼掲示板から恋愛におけるお悩みを相談することによって、そのお悩みに対しご対応できる女性講師がコメントします。。</p>
    </div>
    <div class="col-md-5">
      <%= image_tag asset_path("boards.png"), class: 'featurette-image img-fluid mx-auto', size: '500x500' %>
    </div>
  </div>
  <hr class="featurette-divider">
</main>