<div class="guide">
  <div class="guide-box">
    <div class="guide-subtitle-wrap">
      <span class="step">STEP1</span>
      <h2 class="guide-subtitle">講師を探す</h2>
    </div>
    <div class="content-area">
      <div class="content-area-inner">
        <p><a href="">講師一覧</a>から希望の講師を探してみましょう。</p>
        <div class="point-box">
          <span class="point-label">POINT</span>
          <p>気になるけど、もうちょっと吟味したい...。そんなときはお気に入り機能を使ってみましょう。<br>お気に入りに登録しておくと、後からマイページのお気に入り欄からフレンドのページへアクセスすることができます。</p>
          <img class="frenta-img" src="" alt="Guide frend favorite">
        </div>
      </div>
    </div>
  </div>

  <div class="guide-box">
    <div class="guide-subtitle-wrap">
      <span class="step">STEP2</span>
      <h2 class="guide-subtitle">気になる講師にメッセージをしてみる</h2>
    </div>
    <div class="content-area">
      <div class="content-area-inner">
        <p>気になる講師が見つかったらメッセージを送ってみましょう。</p>
        <img class="" src="" alt="Guide talk btn">
        <p><strong class="color-red">モテトークではレンタル前に自分の納得いくまでトークをすることができます。</strong>
          何か質問してみたり、自分の悩みを相談してみたりして自分の希望に合った講師か確認しましょう。もちろん直に依頼をお願いすることも可能です。</p>
        <img class="" src="/" alt="Guid first msg">
        <div class="point-box">
          <span class="point-label">POINT</span>
          <p>モテてトークで講師予約をするには無料の会員登録が必要です。<strong class="color-red">必要なものはメールアドレスのみです</strong>。会員登録をすると、</p>
          <ul>
            <li>お気に入り機能を使用出来る</li>
            <li>相手に連絡先を教えずにサイト内でメッセージが出来る</li>
            <li>予約前に自分が納得いくまでメッセージが出来る</li>
            <li>依頼掲示板が使用できる</li>
        </ul>
          <p>など講師予約に必要な機能を全て無料で利用することができます。</p>
          <a class="medium-btn color-red" href="/users/sign_up">登録ページへ！</a>
        </div>
      </div>
    </div>
  </div>

  <div class="guide-box">
    <div class="guide-subtitle-wrap">
      <span class="step">STEP3</span>
      <h2 class="guide-subtitle">予約する日付と内容を決める</h2>
    </div>
    <div class="content-area">
      <div class="content-area-inner">
        <p>依頼したい講師が決まったら、自分の要望を講師に伝えて予約の日付と内容を決めましょう。</p>
        <img class="guide-scrrenshot guide-talk-img" src="" alt="Guide talk">
      </div>
    </div>
  </div>

  <div class="guide-box">
    <div class="guide-subtitle-wrap">
      <span class="step">STEP4</span>
      <h2 class="guide-subtitle">予約する</h2>
    </div>
    <div class="content-area">
      <div class="content-area-inner">
        <p>予約の日付と内容が決まったら、赤色の予約ボタンを押してフレンドを購入しましょう。</p>
        <img class="guide-scrrenshot guide-buy-img" src="" alt="Guide buy">
        <img class="guide-scrrenshot guide-buy-result-img" src="" alt="Guide buy result">
        <p>ガイドはここまでです。早速お気に入りの講師を探してみましょう！</p>
      </div>
    </div>
  </div>

                <h3 class="toggle-title">Zoom</h3>
                <div class="toggle-content">
                  <h4 class="mini-title">1.Zoomのインストール</h4>
                  <p>下記URLよりZoomをインストールし、アカウントを作成します。</p>
                  <div class="link-wrap">
                    <a class="link-btn" target="_blank" rel="noopener" href="https://zoom.us/jp-jp/meetings.html">WEB<i class="fas fa-external-link-alt"></i></a>
                    <a class="link-btn iphone" target="_blank" rel="noopener" href="https://apps.apple.com/jp/app/zoom-cloud-meetings/id546505307">iPhone<i class="fas fa-external-link-alt"></i></a>
                    <a class="link-btn android" target="_blank" rel="noopener" href="https://play.google.com/store/apps/details?id=us.zoom.videomeetings&amp;hl=ja">Android<i class="fas fa-external-link-alt"></i></a>
                  </div>
                  <h4 class="mini-title">2.予約当日</h4>
                  <p>講師がZoomミーティングを開始し、トークで招待URLを送ります。</p>
                  <img class="guide-scrrenshot" src="/assets/guide-online-zoom-5a7a3ae1139c7bf110109ecca37fe6f1a53d78ed749849a898779f2048c61bde.png" alt="Guide online zoom">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>