/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jquery-ui/datepicker
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 
body {
    color: #333;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
    background-color: #F5F1E9;
    padding: 50px 0 0 0;
    color: #666;
}

main {
    display: block
}
 
a {
    color: #253240;
    text-decoration: none;
    background-color: transparent;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.row {
  padding-top: 20px;
  justify-content: center;
}

.navbar-brand {
  background: image-url("icon3.png") no-repeat left center;
  background-size: contain;
  height: 30px;
  width: 200px;
}

.marketing h2 {
    font-weight: 400;
}


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}



p,table,blockquote,address,pre,iframe,form,figure,dl {
    margin: 0
}


ul,ol {
    margin: 0;
    padding: 0;
    list-style: none
}

dt {
    font-weight: bold
}

dd {
    margin-left: 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    border-top-width: 1px;
    margin: 0;
    clear: both;
    color: inherit
}

.textbox {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #666;
    background-color: #fff;
    text-align: left;
    font-size: 16px;
}

.small-btn {
    width: 24%;
    min-width: 150px;
    max-width: 200px;
    display: block;
    margin: 0 auto;
    background-color: #fff;
    border: 2px solid #0f5e7f;
    border-radius: 30px;
    color: #0f5e7f;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    outline: none;
}

.mote-about-box {
    margin: 0 0 20px 0;
}

.question-box-wrap {
    background: image-url('question_background.png');
    border-radius: 10px;
}

.question-box-wrap .question-box {
    width: 320px;
    min-height: 315px;
    margin: 0 auto;
    position: relative;
}

.question-box .question-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30px;
    left: 5px;
    background: image-url('question1.png') no-repeat left center;
    background-size: contain;
}

.question-msg-1 {
    position: absolute;
    top: 100px;
    right: 5px;
    padding: 10px;
    border: 2px dotted #FC676B;
    border-radius: 5px;
    background-color: #fff;
    color: #FC676B;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5em;
}

.question-box .question-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30px;
    left: 5px;
    background: image-url('question2.png') no-repeat left center;
    background-size: contain;
}

.question-msg-2 {
    position: absolute;
    top: 100px;
    right: 5px;
    padding: 10px;
    border: 2px dotted #FC676B;
    border-radius: 5px;
    background-color: #fff;
    color: #FC676B;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5em;
}

.question-box .question-3 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 30px;
    left: 5px;
    background: image-url('question3.png') no-repeat left center;
    background-size: contain;
}

.question-msg-3 {
    position: absolute;
    top: 100px;
    right: 5px;
    padding: 10px;
    border: 2px dotted #FC676B;
    border-radius: 5px;
    background-color: #fff;
    color: #FC676B;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.5em;
}

.answer-box-wrap {
    min-height: 315px;
    background-color: #29ABE2;
    border-radius: 10px;
    overflow: hidden;
}

.answer-msg {
    position: relative;
    text-align: center;
    padding: 30px;
    margin: 10px 0 0 0;
    color: #fff;
    font-size: 1.4rem;
    line-height: 1.8em;
    text-align: left;
}

.instructor-box {
    position: relative;
    width: 300px;
    height: 380px;
    margin: 20px 5px 0 5px;
    overflow: hidden;
    border-radius: 5px;
    // box-shadow: 1px 3px 6px rgb(0 0 0 / 30%);
    background-color: #fff;
    font-size: 16px;
    display: inline-block;
    // text-align: left;
}

.instructor-box .instructor-avatar {
    width: 300px;
    height: 300px;
}

.user-name {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 235px;
    background-color: rgba(255,255,255,0.8);
    color: #ff4c4c;
    font-size: 16px;
    padding: 10px 10px 0 5px;
}

.favorite-cnt {
    float: right;
    font-size: 0.95em;
}

.instructor-info {
    position: absolute;
    width: 300px;
    height: 43px;
    top: 275px;
    background-color: rgba(255,255,255,0.8);
    color: #777;
    padding: 0px 0 0 5px;
    font-size: 13px;
    text-align: left;
}

.instructor-msg {
    position: relative;
    width: 100%;
    margin: -3px 0 0 0;
    padding: 10px;
    color: #777;
    font-size: 14px;
    line-height: 1.5em;
}

.wrap-login-form {
    max-width: 800px;
    width: 95%;
    margin: 10px auto;
    padding: 30px;
    background-color: #fff;
    text-align: center;
    border-radius: 20px;
}

.wrap-login-form .title {
    font-size: 28px;
    font-weight: bold;
    margin: 0 0 20px 0;
    color: #fd3c40;
}

.wrap-login-form .textbox {
    max-width: 400px;
    width: 85%;
    padding: 12px;
    border-radius: 10px;
    outline: none;
    border-color: #fff;
    background-color: #feebeb;
}

.wrap-login-form .small-btn {
    background-color: #fd3c40;
    border-color: #fd3c40;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-link a {
    color: #666;
}

.bulletin-board {
    position: relative;
    width: 95%;
    max-width: 640px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin: 10px auto 0 auto;
    border-radius: 5px;
}

.user {
    height: 30px;
    vertical-align: center;
    text-align: left;
}

.avatar {
    width: 25px;
    height: 25px;
    background-size: cover;
    border-radius: 50%;
    margin: 0 1px 0 0;
}

.instructor-photos-wrap {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #666;
    overflow: hidden;
}

.instructor-photos-wrap-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 100%;
    display: none;
    z-index: 1;
}

.instructor-text-box {
    width: 100%;
    margin: 20px 0 0 0;
    background-color: #fff;
    overflow: hidden;
    border-radius: 3px;
    padding: 20px;
}

.instructor-text-box .instructor-text-title {
    position: relative;
    padding: 10px;
    background: #29ABE2;
    color: #fff;
    margin: 0 0 20px 0;
    border-radius: 3px;
}

.instructor-text-box .instructor-text-title:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 30px;
    border: 10px solid transparent;
    border-top: 10px solid #29ABE2;
    width: 0;
    height: 0;
}

.fix-menu {
    padding: 10px 0 0 0;
    text-align: center;
}

.favorite_btn {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 32px;
    border-bottom: 3px solid #e61006;
    border-radius: 8px;
    padding: 8px 0 0 24px;
    background-color: #fa3f36;
    color: #fff;
    font-size: 14px;
}

.favorite_btn i{
    color: #fff;
    font-size: 16px;
}

.talk_btn {
    display: inline-block;
    width: 150px;
    height: 32px;
    padding: 6px;
    background-color: #1c98cd;
    color: #fff;
    border-bottom: 3px solid #146c91;
    border-radius: 8px;
    text-align: center;
    font-size: 14px;
}

.info-box {
    width: 100%;
    overflow: hidden;
    border-radius: 10px;
    background: #fff;
    margin: 0 10px 20px 0;
    float: left;
}

.info-box .info-box-title {
    color: #fff;
    font-size: 1.8rem;
    text-align: center;
    background: #a3d749;
    padding: 10px;
    font-weight: 500;
}

.info-box .info-box-text {
    padding: 1.8rem;
    text-align: center;
    color: #a3d749;
    font-size: 2.4em;
    font-weight: bold;
}

.favorite-info .info-box-title {
    background: #FC676B;
}

.favorite-info .info-box-text {
    color: #FC676B;
}

.review-info .info-box-title {
    background: #FCC667;
}