/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

.cover-img {
	height: 600px;
	display: table;
	width: 100%;
	background-size: cover;
}

/* ワイドスクリーン用のCSS */
@media only screen and (min-width: 1500px) {
	.cover-img {
		height: 800px;
	}
}

/* タブレット用のCSS */
@media only screen and (min-width : 768px) and (max-width : 1200px) {
	.cover-img {
		height: 500px;
	}
}

/* スマホ用のCSS */
@media only screen and (max-width: 479px) {
	.cover-img {
		height: 300px;
	}
}

.cover-text {
	display: table-cell;
	vertical-align: middle;
  text-align: center;
}

body{
    background-color: #f4f1e9;
}

.inner-text {
    display: inline-block;
    background-color: rgba(255,255,255,0.85);
    color: #FC676B;
}

.top-image{
    width: 100%;
    height: 300px;
    // background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: image-url("image1.jpg");
}

.main-msg {
    position: absolute;
    z-index: 2;
    display: block;
    font-size: 1.27vw;
    padding: 0.278em;
    letter-spacing: 0.27em;
    background-color: rgba(255,255,255,0.85);
    color: #FC676B;
    font-weight: 500;
}

.main-msg.top {
    top: 13.333333333%;
    left: 2.270663033%;
}

.main-msg.bottom {
    top: 24.166666666%;
    left: 18.165304268%;
    padding-right: 0;
}

.subtitle-wrap {
    width: 100%;
    padding: 10px;
    font-size: 2.1rem;
    background-color: #FCC667;
    color: #fff;
}

.subtitle {
    width: 100%;
    margin: 0 auto;
}

.icon {
    margin-right: 5px;
}

.f-size-8 {
    font-size: 8px;
}
.ml5 {
    margin-left: 5px;
}