<%# .appendは引数を追加するメソッド %>
$('.talk-messages').append("<div class='talk-msg'><pre class='talk-msg-text'><%= @dm.message %></pre><p class='send-time'><%= @dm.created_at.strftime('%Y-%m-%d:%H:%M') %></p></div>");
<%# valメソッドはコメント送信後のコメント入力フォームを空に %>
$('input[type=text]').val("");
$('div').removeClass('dm-no-content');

<%# 色をつける場合： color:#bc7395; %>