<div class="frend-photos-wrap">
  <img id="profile_photo_0" data-main="false" src="https://frenta.s3-ap-northeast-1.amazonaws.com/uploads/photo/image/2300/D6DF9CA7-BAF2-4FA0-B105-5206F32A62C1.jpeg" alt="D6df9ca7 baf2 4fa0 b105 5206f32a62c1" style="display: block;">
  <img id="profile_photo_1" data-main="false" src="https://frenta.s3-ap-northeast-1.amazonaws.com/uploads/photo/image/2187/67F52946-732B-4E5D-99FF-1CFF2A818988.jpeg" alt="67f52946 732b 4e5d 99ff 1cff2a818988" style="display: none;">
  <img id="profile_photo_2" data-main="false" src="https://frenta.s3-ap-northeast-1.amazonaws.com/uploads/photo/image/2184/FBFD34FF-E580-4989-9AB6-D408355C108F.jpeg" alt="Fbfd34ff e580 4989 9ab6 d408355c108f" style="display: none;">
</div>

<div class="frend-name-photo">
  <div class="frend-name-photo-inner clearfix">
    <div class="photo-btn-wrap">
        <div class="photo-btn" id="photo-btn_0" style="background-image: url(https://frenta.s3-ap-northeast-1.amazonaws.com/uploads/photo/image/2300/D6DF9CA7-BAF2-4FA0-B105-5206F32A62C1.jpeg)"></div>
        <div class="photo-btn" id="photo-btn_1" style="background-image: url(https://frenta.s3-ap-northeast-1.amazonaws.com/uploads/photo/image/2187/67F52946-732B-4E5D-99FF-1CFF2A818988.jpeg)"></div>
        <div class="photo-btn" id="photo-btn_2" style="background-image: url(https://frenta.s3-ap-northeast-1.amazonaws.com/uploads/photo/image/2184/FBFD34FF-E580-4989-9AB6-D408355C108F.jpeg)"></div>
    </div>
    <div class="frend-name-wrap">
      <p class="frend-name">リオ <span class="pickup-tag verified"><i class="icon far fa-check-circle"></i>本人確認済</span></p>
      <p class="frend-sub-info"><i class="icon fas fa-map-marker-alt"></i>神奈川県<span class="age-sex-info"><i class="icon far fa-user"></i>27才 男</span></p>
      <div class="tag-wrap">
          <p class="tag">おでかけ</p>
          <p class="tag">フレンド</p>
          <p class="tag">相談・愚痴聞き</p>
          <p class="tag">お手伝い</p>
          <p class="tag">恋愛相談</p>
      </div>
    </div>
  </div>
</div>

<div class="contents">
  <div class="frend-main-info-wrap">
    <!-- <div class="main-info"> -->
    <div class="frend-side-info-wrap">
      <div class="frend-side-info-inner-wrap">
        <div class="info-box">
          <h3 class="info-box-title"><i class="icon fas fa-crown"></i>ランキング</h3>
          <p class="info-box-text">1位</p>
        </div>

        <div class="info-box favorite-info">
          <h3 class="info-box-title"><i class="icon far fa-heart"></i>お気に入り数</h3>
          <p class="info-box-text">
            <span id="favorite_cnt_4149">
              82
            </span>
          </p>
        </div>
      </div>
    </div>

    <div class="frend-msg-info-wrap">
      <div class="strong-point-wrap">
        <h3 class="strong-point-title"><i class="icon fas fa-fist-raised"></i>得意なこと</h3>
        <ul class="checklist">
            <li>どんな方とも仲良くなれます</li>
            <li>ファイナンシャルプランニング</li>
            <li>カウンセリング</li>
            <li>ベビーシッター</li>
            <li>スポーツ（空手、テニス、卓球、バドミントン、ボーリング、バスケ、スキーなど）</li>
            <li>ディズニー</li>
            <li>マジック</li>
            <li>カラオケ</li>
        </ul>
      </div>
      <div class="frend-text-box self-introduction-wrap">
        <h3 class="frend-text-title self-introduction-title">自己紹介</h3>
        <pre class="self-introduction-text">はじめまして！
りおです。
プロフィール見て頂けたら嬉しいです^ ^
極力直ぐにお返事するようにしますので、いつでもメッセージください！
よろしくお願いします。


-プロフィール-
・血液型：O型
・職業：コンサルタント
・好きな食べ物：お寿司、焼肉、チーズ、苺、ケーキ
・お酒：嗜む程度
・タバコ：吸わない
・語学：英語、フランス語、スペイン語、中国語、タガログ語
・資格：自家用操縦士免許、特殊小型船舶免許、ファイナンシャルプランナー、空手二段、
・趣味：映画鑑賞、ショッピング、テーマパーク、スポーツ、カラオケ
・性格：優しい、落ち着いてる
・普段の服装：綺麗目、カジュアル、スーツ

性格はとても穏やかで落ち着いた感じとよく言われます。
臨床心理学を専攻していましたし、仕事柄お悩みを聞くことが多いので、僕で良ければどんなことでも話してくださいね。

年齢関係なく仲良くなれるなれると思います。
是非お気軽にご質問ください！

</pre>
      </div>
      <div class="frend-text-box msg-to-customers-wrap">
        <h3 class="frend-text-title msg-to-customers-title">お客様へのメッセージ</h3>
        <pre class="msg-to-customers-text">時間帯や日程等気軽にご相談下さい。
ご希望があれば、どんなことでも遠慮せず仰って下さいね。

どんな方でもお待ちしております。
精一杯ご希望に添えるよう努めます。

～料金等の案内～

☆料金

    初回 1,000円/1時間
　通常 2,000円/1時間 (2回目以降)

※1時間単位になります。
※当日の延長につきましては
こちらの予定が空いていれば可能です


☆交通費 (依頼者様ご負担)

　　場所により実費でお願いします。

☆諸経費 (依頼者様ご負担)

　　飲食代、入場料等、その他で掛かる全ての諸経費はお願いします。

☆対応時間及び地域

今の所柔軟に対応させて頂けると思います。
気軽にお尋ね下さい。


●依頼者様について

・年齢、容姿は問いません。
・個人情報につきましては秘密厳守します。


●依頼内容のご要望について

可能な限りご要望に応えたいと思うので気軽にご相談下さい。


●連絡について

　　連絡が遅くなる場合があります。
　　遅くなった場合でも必ずお返事致しますのでお待ちください。

●キャンセルについて

　　予定の前日迄に連絡を頂ければ大変助かります。

皆さんのお時間を少しでも素敵なものにできれば嬉しいです。
お会いできる日を、とても楽しみにしています。

</pre>
      </div>
    </div>
  </div>

    <div class="fix-menu fix-menu-bar">
      <!-- お気に入りボタンの実装 -->
      <div data-user-id="4149" class="favorite_btn">
        <p id="favorite_4149">
              <a id="favorite_user_4149" data-remote="true" rel="nofollow" data-method="post" href="/favorites?target_user=4149">
      <i class="not-favorite-icon far fa-heart"><span class="display-none">お気に入りに追加<span></span></span></i>
</a>
        </p>
        お気に入り
      </div>

      <!-- トークボタンの実装 -->
      <a class="talk_btn" rel="nofollow" data-method="post" href="/talkrooms?frend_id=4149">
        <i class="icon far fa-comments"></i>トークしてみる！
</a>    </div>
<!--新規登録ボタン-->
</div>