<div class="bg-transparent py-3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <span class="text-muted">
            <div class="py-3 text-center">
              <p> © 2021 Mote-Talk All Rights Reserved.</p>
            </div>
        </span>
      </div>
    </div>
  </div>
</div>