<div class="header-wrap">
    <header class="header">
      <div class="header-inner">

        <!-- table-cellで配置せざるえないので、divで囲ってロゴのheightを指定できるようにする(table-cellは高さ調節ができない)       -->
        <div class="logo-wrap"><a href="/"><h1 class="logo"><span>フレンタ</span></h1></a></div>
        <nav id="groval-navi" class="clearfix">
          <ul class="menu-list">
              <li><%= link_to ' モテトークって？',homes_about_path,class: 'fas fa-home menu-item' %></li>
              <li><%= link_to ' 講師を探す', instructors_path,class: 'fas fa-user-plus menu-item' %></li>
              <li><%= link_to ' 依頼掲示板', request_boards_path ,class: 'fas fa-clipboard-list menu-item' %></li>
              <li><%= link_to ' 講師登録はこちら',new_instructor_path,class: 'fas fa-link menu-item' %></li>
          </ul>
          <% if user_signed_in? %>
            <div class="my-menu-wrap">
              <p class="my-menu-btn" style="background-image: url(https://frenta.s3-ap-northeast-1.amazonaws.com/uploads/user/avatar/3780/line_67754718850298.jpg)"></p>
              <%#= attachment_image_tag(@user, :profile_image, fallback: "no-image-icon.jpg"), class: "my-menu-btn" %>
              <ul class="my-menu">
                <li class="my-menu-item"><a href="/talkrooms"><i class="icon far fa-comments"></i>トーク一覧</a></li>
                <li class="my-menu-item"><a href="/favorites"><i class="icon far fa-heart"></i>お気に入り一覧</a></li>
                <li class="my-menu-item"><a href="/users/edit"><i class="icon far fa-user-circle"></i>設定</a></li>
                <li class="my-menu-item"><a data-turbolinks="false" href="/instructors/new"><i class="icon fas fa-user-plus"></i>講師登録する</a></li>
                <li class="my-menu-item"><a id="logout" rel="nofollow" data-method="delete" href="/users/sign_out"><i class="icon fas fa-sign-out-alt"></i>ログアウト</a></li>
              </ul>
            </div>
          <% else %>
            <ul class="login-menu">
              <li class="my-menu-item"><a class="simple-btn" href="/users/sign_up">無料登録</a></li>
              <li class="my-menu-item"><a class="simple-btn" href="/users/sign_in">ログイン</a></li>
            </ul>
          <% end %>
        </nav>
      </div>

      <!--
      <div class="header-inner">
          スマフォでのコンテンツ内容
          <div class="logo-wrap"><h1 class="logo"><span>フレンタ</span></h1></div>
          <div id="menu-overlay"></div>
          <a href="javascript:void(0);" id="switch-btn"><span></span><span></span><span></span></a>
          <nav id="sp-navi">
              <p>マイメニュー</p>
              <ul class="sp-my-menu">
                  <li><a href="" class="simple-btn">新規登録</a></li>
                  <li><a href="" class="simple-btn">ログイン</a></li>
              </ul>
              <p>フレンドを探す</p>
              <ul>
                  <li><a href="#">人気ランキング</a></li>
                  <li><a href="#">新着ページ</a></li>
                  <li><a href="#">1000円レンタル</a></li>
                  <li><a href="#">地域検索</a></li>
              </ul>
              <p>初めてご利用の方へ</p>
              <ul>
                  <li><a href="#">フレンタって？</a></li>
                  <li><a href="#">ご利用の流れ</a></li>
              </ul>
          </nav>
      </div>
      -->
    </header>
</div>

